@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #6b469a;
    padding: 20px;
    margin: 20px;
    border: 5px dotted black;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

h1 {
    font-size: 4.5rem;
    line-height: 2.5rem;;
    color: hotpink;
}

h2 {
    font-size: 3rem;
    line-height: 3rem;
    color: pink;
}

nav {
    margin: 10px;
    padding: 10px;
    background-color: #dda0dd;
    width: 400px;
    
    
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: #fda103;
    border-bottom: 2px solid #fda103;
}

nav a {
    display: inline;
}

div {
    padding: 10px;
}

img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: bottom;
}

footer {
    text-align: center;
    background-color: #6b469a;
    padding: 10px;
    color: #fff;
}

#pic-1 {
    width: 300px;
    height: 200px;
    padding: 10px;
    border: 5px dashed orange
}
